.page {
	
}

/* 页面铺满屏幕 */
.page-fill {
	width:100%;
	height: 100%;
	position: absolute;
}

.info-list {
	padding: 0px 20upx;
}

.item-wapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.face-line{
	border-bottom: solid 1px #EAEAEA;
}

.face-upbottom {
	margin-top: 10upx;
	/* margin-bottom: 20upx; */
	padding-top: 10upx;
	padding-bottom: 10upx;
}

.face-upbottom-top {
	margin-top: 20upx;
	/* margin-bottom: 20upx; */
	padding-top: 20upx;
	padding-bottom: 20upx;
}
.info-words {
	color: #333333;
	font-size: 16px;
	width: 25%;
	line-height: 80upx;
	/* font-weight: bold; */
}

.right-wapper {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.face {
	width: 80upx;
	height: 80upx;
	border-radius: 50%;
}

.arrow-block {
	margin-left: 10upx;
	line-height: 86upx;
}

.arrow-ico {
	width: 30upx;
	height: 30upx;
}

.gray-fields {
	color: gray;
	margin-top: 15upx;
}

.foot-wapper {
	/* 吸底效果 */
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.footer-words {
	text-align: center;
	background-color: white;
	padding: 20upx;
}
