.page-fill {
	width: 100%;
	height: 100%;
}

.header {
	/* #ifdef MP */
	padding: 0upx 30upx 40upx 30upx;
	/* #endif */
	/* #ifndef MP */
	padding: 120upx 30upx 40upx 30upx;
	/* #endif */
	background-color: #ffd655;
	/* background: url(/static/bg/1.png) repeat; */
	/* 设置网络背景图 */
	background: url(http://122.152.205.72:88/group1/M00/00/03/CpoxxFwu_1OAYFAIAAAzO_Q1tPg693.png) repeat;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.face {
	width: 120upx;
	height: 120upx;
	border-radius: 50%;
	/* 防止头像被挤压*/
	flex-shrink: 0;
}

.info-wapper {
	width: 80%;
	margin-left: 40upx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.nickname {
	color: #6a5018;
	font-size: 18px;
	font-weight: bold;
}

.nav-info {
	color: #a38eb2;
	font-size: 14px;
	margin-top: 10upx;
}

.set-wapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 15%;
}

.settings {
	width: 40upx;
	height: 40upx;
}

.regist-login {
	margin-left: 60upx;
	margin-top: 30upx;
}
