/* 搜索框 */
.search-block {
	display: flex;
	flex-direction: row;
	padding: 0upx 20upx 20px 10px;
	
	/* 固定搜索栏 */
	position: fixed;
	top: 100;
	z-index: 2000;
	background-color: #F8F8F8;
}

.search-icon-warpper {
	background-color: #eaeaea;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0upx 10upx;
	border-top-left-radius: 8upx;
	border-bottom-left-radius: 8upx;
	
}

.search-icon {
	width: 40upx;
	height: 40upx;
}

.search-text {
	font-size: 14px;
	background-color: #eaeaea;
	height: 60upx;
	width: 650upx;
	border-top-right-radius: 8upx;
	border-bottom-right-radius: 8upx;
}

/* 预告片列表 */

.movie-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 100upx 10upx 0upx 10upx;
}

.movie-wapper {
	padding: 10upx 20upx 10upx 20upx;
}

.poster {
	width: 200upx;
	height: 270upx;
}